@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/red';

.app,
.appStyles {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.contentPage {
  display: flex;
}

// scrollbar

/* width */
::-webkit-scrollbar {
  width: 0.55rem;
  height: 0.6rem;
  scroll-behavior: smooth;
  scroll-padding: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--card-bg);
  border-radius: 0.6rem;
}
