@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/orange';

html {
  height: 100vh;
  overflow-y: auto;
  background: var(--bg-color);
}

body,
#root {
  height: 100%;
}

.app {
  width: 100%;
  min-height: 100svh;
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);

  // scrollbar

  /* width */
  ::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.6rem;
    scroll-padding: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--card-bg);
    border-radius: 0.6rem;
  }
}

.appRedesigned {
  width: 100%;
  min-height: 100svh;
  font: var(--font-text-redesigned);
  color: var(--text-redesigned);
  background: var(--bg-redesigned);

  * {
    // shows outline only when user navigate with keyboard
    &:focus-visible {
      outline: var(--outline-redesigned);
    }
  }

  // scrollbar

  /* width */
  ::-webkit-scrollbar {
    width: 0.625rem;
    height: 0.625rem;
    scroll-padding: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--icon-redesigned);
    border-radius: 2.375rem;
  }
}
