@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/red';

.app,
.appStyles {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.contentPage {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
  width: 100%;
  height: calc(100vh - var(--navbar-height));

  // padding left equal to toggle sidebar button width
  padding: 1.25rem 1.25rem 1.25rem var(--font-line-l);
  overflow-y: auto;
}
