.textContainer {
  .text {
    color: var(--secondary-color)
  }

  // Text alignment
  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  // Text size
  &.medium {
    .title {
      font: var(--font-l);
    }

    .text {
      font: var(--font-m);
    }
  }

  &.large {
    .title {
      font: var(--font-xl);
    }

    .text {
      font: var(--font-l);
    }
  }

  // Text theme
  &.error {
    .title {
      color: var(--red-light)
    }

    .text {
      color: var(--red-dark)
    }
  }
}
