.fullPagePanel {
  position: fixed;
  inset: 0;
  z-index: 1;
  touch-action: none;
  background: var(--dark-bg-redesigned);
}

.fullPagePanelDeprecated {
  position: fixed;
  inset: 0;
  z-index: 1;
  padding: 1.5rem;
  touch-action: none;
  background: var(--inverted-bg-color);
}
