.drawer {
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);
  display: flex;
  align-items: flex-end;
}

.sheet {
  position: fixed;
  z-index: var(--modal-z-index);
  width: 100%;
  max-height: 100svh;
  border-radius: 12px 12px 0;
}

.drawerHandler {
  height: 3rem;
  touch-action: none;
}

.handle {
  width: 3rem;
  height: 0.3rem;
  border-radius: 0.25rem;
}

.content {
  max-height: min(90svh, 28rem);
  padding: 0 1rem 2rem;
  overflow-y: auto;
  touch-action: pan-y;
}

.redesigned {
  .sheet {
    background: var(--bg-redesigned);
  }

  .handle {
    background-color: var(--hint-redesigned);
  }
}

.deprecated {
  .sheet {
    background: var(--bg-color);
  }

  .handle {
    background-color: var(--secondary-color);
  }
}
