.modal {
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);

  .overlay {
    background-color: var(--overlay-color);

    .content {
      max-width: 60%;
      padding: 1.25rem;
      background: var(--bg-color);
      border-radius: 0.5rem;
      animation: modal-appear 0.3s ease-in-out;
    }
  }

  &.isClosing {
    .content {
      animation: model-disappear 0.3s ease-in-out;
    }
  }
}

@keyframes modal-appear {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes model-disappear {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}
