.sidebar {
  position: relative;
  flex-shrink: 0;
  width: var(--sidebar-width);
  height: calc(100svh - var(--navbar-height));
  padding: 1.25rem 1.85rem;
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
  transition: width 0.3s;

  .toggleBtn {
    position: absolute;
    right: calc(var(--font-line-l) * -1);
    bottom: var(--font-line-l);
    color: var(--inverted-primary-color);
  }

  .items {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &.collapsed {
    align-items: center;
    width: var(--sidebar-width-collapsed);
    padding: 1.25rem 0;

    .switchers {
      flex-direction: column;
      align-items: center;
    }
  }
}
