.sidebarRedesigned {
  position: relative;
  width: 13.75rem;
  height: 100%;
}

.logo {
  margin: 1.36rem 0 2.6rem;
}

.switchers {
  position: absolute;
  bottom: 2.5rem;
}

.toggleBtn {
  position: absolute;
  top: 50%;
  right: 0;

  svg {
    transform: rotate(90deg);
  }
}

.collapsed {
  width: 3.125rem;

  .logo {
    margin: 0.7rem 0 4.7rem;
  }

  .items {
    display: flex;
    align-items: center;
  }

  .switchers {
    bottom: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .toggleBtn {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.skeletonNav {
  padding: 1rem;
}
