.sidebarRedesigned {
  position: relative;
  width: 13.75rem;
  height: 100%;
}

.logoWrapper {
  padding: 0.125rem 0 0;
  clip-path: inset(0 0 -100vh round 2rem 2rem);
  border-radius: var(--border-radius-redesigned);
}

.logo {
  margin: 1.36rem 0 2.6rem;
}

.switchers {
  position: absolute;
  bottom: 2.5rem;
}

.toggleBtn {
  position: absolute;
  top: 50%;
  right: 0;

  svg {
    transform: rotate(90deg);
  }
}

.collapsed {
  width: 3.125rem;

  .logo {
    margin: 0.7rem 0 4.7rem;
  }

  .items {
    display: flex;
    align-items: center;
  }

  .switchers {
    bottom: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .toggleBtn {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.skeletonNav {
  padding: 1rem;
}

@media screen and (width <= 1175px) {
  .toggleBtn {
    display: none;
  }
}

@media screen and (width <= 768px) {
  .sidebarRedesigned {
    display: none;
  }
}
