.sidebar {
  position: relative;
  min-width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
  transition: width 0.3s;

  .collapsedBtn {
    position: absolute;
    right: calc(var(--font-line-l) * -1);
    bottom: var(--font-line-l);
    color: var(--inverted-primary-color);
  }

  .items {
    display: flex;
    flex-direction: column;
    padding-left: 1.85rem;
    margin-top: 1.25rem;
  }

  .switchers {
    position: absolute;
    bottom: 1.25rem;
    display: flex;
    justify-content: center;
    width: 100%;

    .lang {
      margin-left: 1.25rem;
    }
  }

  &.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
      flex-direction: column;
      align-items: center;

      .lang {
        margin-top: 1.25rem;
        margin-left: 0;
      }
    }
  }
}

