.wrapper {
  position: sticky;
  z-index: 2;
  align-content: center;
  width: 100%;
  border-radius: 0 !important;
}

.wrapperRedesigned {
  top: 0;
  padding: 0.5rem 0;
  background: var(--bg-redesigned);
}

.wrapperDeprecated {
  top: calc(-1 * var(--page-padding));
  padding: 0.5rem 0;
  background: var(--bg-color);
}
