$editor-padding: 0.5rem;
$content-editable-y-padding: 0.5rem;
$content-editable-x-padding: 1rem;

.articleEditor {
  position: relative;
}

.editorScroller {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 25rem;
  overflow-y: scroll;
  resize: vertical;
  border: 0;
  outline: 0;
}

.editor {
  position: relative;
  flex: auto;
  width: 100%;
  padding: $editor-padding;
  resize: vertical;
  border: 1px solid var(--primary-color);
}

.contentEditable {
  flex: auto;
  height: 100%;
  padding: $content-editable-y-padding $content-editable-x-padding;
  color: var(--primary-color);
  background: var(--bg-color);
  border: none;
  outline: none;
}

.placeholder {
  position: absolute;
  top: calc($editor-padding + $content-editable-y-padding);
  left: calc($editor-padding + $content-editable-x-padding);
}

.ul {
  padding: 0 0 0 1rem;
  list-style: disc;
}

.li {
  list-style-type: disc;
}
