$content-padding: 0.5rem;

.articleEditor {
  position: relative;
}

.editorScroller {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  min-height: 25rem;
  overflow-y: scroll;
  resize: vertical;
  border: 0;
  outline: 0;
}

.editor {
  position: relative;
  flex: auto;
  width: 100%;
  padding: $content-padding;
  resize: vertical;
  border: 1px solid var(--primary-color);
}

.contentEditable {
  flex: auto;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  background: var(--bg-color);
  border: none;
  outline: none;
}

.placeholder {
  position: absolute;
  top: $content-padding;
  left: $content-padding;
}

.ul {
  padding: 0 0 0 1rem;
  list-style: disc;
}

.li {
  list-style-type: disc;
}
