.collapsed {
  .text {
    // text hiding animation
    width: 0;
    overflow: hidden;
    transition: 0.3s opacity;
  }

  .icon {
    margin-right: 0;
    fill: var(--inverted-primary-color);
  }
}
