.header {
  margin-bottom: 1.5rem;
}

.list {
  height: 100%;

  .item {
    margin-top: 1.5rem;
  }
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 3rem;
  max-width: 100%;

  // footer
  &.notEmpty + div {
    margin-top: 3rem;
  }
}


