.header {
  margin-bottom: 1.5rem;
}

$list-padding: 1rem;

.list {
  position: relative;

  .item {
    margin-bottom: $list-padding;
  }
}

.listSkeleton {
  margin-top: $list-padding;
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 3rem;
  max-width: 100%;

  // footer
  &.notEmpty + div {
    margin-top: 3rem;
  }
}

.gridSkeletonsPadding {
  margin-top: 3rem;
}
