.Code {
    position: relative;
    padding: 20px;
    overflow: auto;
    background: var(--code-bg);
    border: 1px solid var(--primary-color);
}

.copyBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
