.inputContainer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 0.5rem 0.3rem 0.3rem;

  .input {
    max-width: 25rem;
    padding: 0.5rem;
    margin: 0;
    border: 1px solid var(--primary-color);
  }
}