.page {
  flex-grow: 1;
  width: 100%;
  height: calc(100svh - var(--navbar-height));

  // padding left equal to toggle sidebar button width
  padding: 1.25rem 1.25rem 1.25rem calc(var(--font-line-l) + 0.1rem);
  overflow-x: hidden;
  overflow-y: auto;
}

.pageRedesigned {
  height: 100%;
}
