.navbarRedesigned {
  box-sizing: content-box;
  width: var(--navbar-width-redesigned);
  padding: var(--navbar-padding-x-redesigned) 1rem 0;
}

.mobile {
  padding: 0.5rem 1rem;
  background: var(--light-bg-redesigned);
}
