$option-padding: 0.6rem;

.wrapper {
  position: relative;
  min-width: max-content;

  .button {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    .label {
      margin-right: 1rem;
    }

    .icon {
      margin-left: auto;
    }
  }

  .options {
    position: absolute;
    z-index: 1;
    min-width: max-content;
    padding: 0.5rem 0;
    background: var(--select-bg);
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0/30%), 0 4px 6px -4px rgb(0 0 0/30%);
    animation: open 0.2s ease-in-out;

    .option {
      padding: $option-padding calc(20px + ($option-padding * 2));
      cursor: pointer;

      .icon {
        margin-right: $option-padding;
      }

      &.selected {
        display: flex;
        align-items: center;
        padding-left: $option-padding;
      }

      &.active {
        color: var(--inverted-primary-color);
        background: var(--inverted-bg-color);
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    // directions
    &.up {
      bottom: 100%;
    }

    &.down {
      top: 100%;
    }

    &.left {
      right: 0;
    }
  }
}

.maxWidth {
  width: 100%;
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
