.select {
  max-width: 27rem;
  padding: 0.5rem;
  margin: 0;
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  outline: none;


  .option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
  }
}