.drawer {
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);
  display: flex;
  align-items: flex-end;
}

.sheet {
  position: fixed;
  left: 2vw;
  z-index: var(--modal-z-index);
  width: 96vw;
  max-height: 100svh;
  padding: 1rem 1rem 7rem;
  touch-action: none;
  background: var(--bg-color);
  border-radius: 12px 12px 0;
}

.handle {
  position: absolute;
  top: 0.3rem;
  right: 0;
  left: 0;
  width: 3rem;
  height: 0.25rem;
  margin: 0 auto;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
}
