$toggle-offset: 0.125rem;

.switch,
.switchDeprecated {
  position: relative;
  display: inline-block;
  width: 6.25rem;
  height: 3.25rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
}

.switchOff,
.switchOn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - $toggle-offset);
  height: calc(100% - (2 * $toggle-offset));
}

.switchOff {
  bottom: $toggle-offset;
  left: $toggle-offset;
  border-radius: 2rem 0 0 2rem;
}

.switchOn {
  right: $toggle-offset;
  bottom: $toggle-offset;
  border-radius: 0 2rem 2rem 0;
}

.switchDeprecated {
  background-color: var(--card-bg) !important;

  .switchOff,
  .switchOn {
    color: var(--secondary-color);

    &.enabled {
      color: var(--inverted-primary-color);
      background: var(--inverted-bg-color);
    }
  }
}

.switch {
  background-color: var(--dark-bg-redesigned) !important;

  .switchOff,
  .switchOn {
    color: var(--light-bg-redesigned);

    &.enabled {
      color: var(--text-redesigned);
      background: var(--light-bg-redesigned);
    }
  }
}
