.appDarkTheme {
  --bg-color: #1c1b1f;
  --inverted-bg-color: #fffbfe;
  --primary-color: #d0bcff;
  --secondary-color: #ccc2dc;
  --inverted-primary-color: #6750a4;
  --inverted-secondary-color: #625b71;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #57545b;

  // card
  --card-bg: #2b2b2b;

  // select
  --select-bg: #2b2b2b;
}
