:root {
  --bg-color: #fffbfe;
  --inverted-bg-color: #1c1b1f;
  --primary-color: #6750a4;
  --secondary-color: #625b71;
  --inverted-primary-color: #d0bcff;
  --inverted-secondary-color: #ccc2dc;

  // skeleton
  --skeleton-color: #c4e3e3;
  --skeleton-shadow: #687a7a;

  // code
  --code-bg: #f0f2f5;
  --code-text: #1c1b1f;

  // code highlighting
  --token-comment-color: slategray;
  --token-punctuation-color: #999;
  --token-property-color: #905;
  --token-selector-color: #690;
  --token-operator-color: #9a6e3a;
  --token-attr-color: #07a;
  --token-variable-color: #e90;
  --token-function-color: #dd4a68;

  // card
  --card-bg: #d2d1d1;

  // select
  --select-bg: #d2d1d1;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;
}
