.app.light {
  --bg-color: #fffbfe;
  --inverted-bg-color: #1c1b1f;
  --primary-color: #6750a4;
  --secondary-color: #625b71;
  --inverted-primary-color: #d0bcff;
  --inverted-secondary-color: #ccc2dc;
}
