:root {
  --bg-color: #fffbfe;
  --inverted-bg-color: #1c1b1f;
  --primary-color: #6750a4;
  --secondary-color: #625b71;
  --inverted-primary-color: #d0bcff;
  --inverted-secondary-color: #ccc2dc;

  // skeleton
  --skeleton-color: #c4e3e3;
  --skeleton-shadow: #687a7a;

  // code
  --code-bg: #000;

  // card
  --card-bg: #d2d1d1;

  // select
  --select-bg: #d2d1d1;
}
