.appOrangeTheme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #bd5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;

  // skeleton
  --skeleton-color: rgb(220 40 86 / 40%);
  --skeleton-shadow: rgb(148 27 61 / 48%);

  // code
  --code-bg: #f0c048;
  --code-text: #000;

  // code highlighting
  --token-comment-color: #d35400;
  --token-punctuation-color: #f39c12;
  --token-property-color: #e67e22;
  --token-selector-color: #e74c3c;
  --token-operator-color: #c0392b;
  --token-attr-color: #d35400;
  --token-variable-color: #e67e22;
  --token-function-color: #e74c3c;

  // card
  --card-bg: #d2d1d1;

  // select
  --select-bg: #d2d1d1;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;
}
