.appRedTheme {
  --bg-color: #FBF4F6;
  --inverted-bg-color: #de2560;
  --primary-color: #de2560;
  --secondary-color: #792a43;
  --inverted-primary-color: #FBF4F6;
  --inverted-secondary-color: #a2838e;

  // skeleton
  --skeleton-color: rgb(220 40 86 / 40%);
  --skeleton-shadow: rgb(148 27 61 / 48%);

  // code
  --code-bg: #020000;

  // card
  --card-bg: #d2d1d1;

  // select
  --select-bg: #d2d1d1;
}
