.appRedTheme {
  --bg-color: #de2560;
  --inverted-bg-color: #FBF4F6;
  --primary-color: #FBF4F6;
  --secondary-color: #a2838e;
  --inverted-primary-color: #de2560;
  --inverted-secondary-color: #943452;
}
