.default {
  color: var(--icon-redesigned);
}

.error {
  color: var(--cancel-redesigned);
}

// mods
.disabled {
  color: var(--light-bg-redesigned);
}

.iconButton:hover,
.button:hover .icon {
  color: var(--accent-redesigned);

  path {
    box-shadow: var(--box-shadow-accent-redesigned);
  }
}
