.mainLayout {
  display: grid;
  grid-template-areas: 'sidebar content rightbar';
  grid-template-columns: var(--full-sidebar-width-redesigned) 1fr var(
      --full-navbar-width-redesigned
    );
  gap: 0;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  padding: var(--sidebar-padding-redesigned);
}

.content {
  grid-area: content;
  justify-self: center;
  width: 100%;
  max-width: min(65rem, 100%);
  height: 100%;
  padding: 2rem 0;
}

.rightbar {
  display: flex;
  flex-direction: column;
  grid-area: rightbar;
  align-items: flex-end;
}

.sidebar,
.rightbar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100svh;
}

.toolbar {
  width: 100%;
  height: 100%;
}

.mobile {
  display: block;

  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: header;
  }

  .content {
    padding: 1rem;
  }
}
