.icon {
  // type
  &.fill {
    // because we set currentColour to fill or stroke to icons
    // we can now just use color property to change both
    fill: currentcolor;
  }

  &.stroke {
    fill: none;
    stroke: currentcolor;
  }

  // color
  &.primary {
    color: var(--primary-color);
  }

  &.secondary {
    color: var(--secondary-color);
  }
}