.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.links {
  margin-left: auto;
}

.links a {
  margin: 0.4rem;
}

.mainLink {
  padding-right: 15px;
}
