.button {
  color: var(--text-redesigned);
  cursor: pointer;
  border: none;
  transition: color 0.08s ease-in-out;

  &:hover {
    color: var(--accent-redesigned);
  }
}

.borderRadius {
  border-radius: 2.125rem;
}

.withAddonLeft,
.withAddonRight {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.addonLeft,
.addonRight {
  display: flex;

  svg {
    color: var(--hint-redesigned);
  }
}

// themes
.clear {
  background: none;
}

.outline {
  background: none;
  border: 1px solid var(--icon-redesigned);

  &.primary {
    &:hover {
      border-color: var(--accent-redesigned);
    }
  }

  &.save {
    border-color: var(--save-redesigned);

    &:hover {
      color: var(--save-redesigned);
    }
  }

  &.danger {
    border-color: var(--cancel-redesigned);

    &:hover {
      color: var(--cancel-redesigned);
    }
  }
}

.filled {
  background: var(--light-bg-redesigned);

  &.save {
    background-color: var(--save-redesigned);
  }

  &.danger {
    background-color: var(--cancel-redesigned);
  }
}

// paddings
.verticalPadding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.horizontalPadding {
  padding-right: 1rem;
  padding-left: 1rem;
}

// mods
.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    color: var(--text-redesigned);
  }
}

.maxWidth {
  width: 100%;
}
