.button {
  color: var(--text-redesigned);
  cursor: pointer;
  border: none;

  &:hover {
    color: var(--accent-redesigned);
  }
}

// themes
.clear {
  background: none;
  border-radius: 2.125rem;
}

.outline {
  background: none;
  border: 1px solid var(--text-redesigned);
}

.filled {
  background: var(--light-bg-redesigned);
  border-radius: 2.125rem;
}

// sizes
.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

// square button
.squared {
  padding: 0;

  // square button sizes
  &.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
  }

  &.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
  }
}

// paddings
.verticalPadding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.horizontalPadding {
  padding-right: 1rem;
  padding-left: 1rem;
}

// mods
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.maxWidth {
  width: 100%;
}
