.card {
  border-radius: 2rem;
}

// background
.dark {
  background: var(--dark-bg-redesigned);
}

.light {
  background: var(--light-bg-redesigned);
}

// paddings
.padding0 {
  padding: 0;
}

.padding0_5 {
  padding: 0.5rem;
}

.padding1 {
  padding: 1rem;
}

.padding1_5 {
  padding: 1.5rem;
}

// mods
.maxWidth {
  width: 100%;
}
