.profileCard {
  padding: 1.5rem;
  border: 2px solid var(--inverted-bg-color);

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 3rem;
    width: 100%;

    .avatarWrapper {
      grid-column: 1 / 3;
    }

    .input {
      display: block;
    }
  }
}