.text {
  color: var(--text-redesigned);
}

// variants
.icon {
  font: var(--font-icon-redesigned);
  color: var(--icon-redesigned);
}

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.error {
  color: var(--cancel-redesigned);
}

// mods
.clickable:hover {
  color: var(--accent-redesigned);
  text-shadow: var(--text-shadow-accent-redesigned);
}
