.logo {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.title {
  margin: 2.75rem 0 0.75rem;
}

.skeletonTextBlock {
  margin-top: 1.5rem;
}

.block {
  margin-top: 1rem;
}
