.card {
  padding: 1rem;

  // themes
  &.default {
    background-color: var(--card-bg);
  }

  &.outline {
    border: 1px solid var(--primary-color);
  }

  // mods
  &.border {
    border-radius: var(--card-border-radius);
  }

  &.maxWidth {
    width: 100%;
  }
}
