.appLink {
  &:hover {
    opacity: 0.8;
  }

  // themes
  &.primary {
    color: var(--primary-color);
  }

  &.inverted {
    color: var(--inverted-primary-color);
  }

  &.red {
    color: darkred;
  }
}
