.wrapper {
  position: sticky;
  z-index: 2;
  align-content: center;
  width: 100%;
  border-radius: 0 !important;
}

.wrapperRedesigned {
  top: 0;
}

.wrapperDeprecated {
  top: calc(-1 * var(--page-padding));
}
