.content {
  width: 100%;
  overflow-y: inherit;
}

.stickyContentLayout {
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: min-content 1fr min-content;
  gap: 1rem;
  height: 100%;

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .content {
    grid-area: content;
    width: 100%;
  }

  .left,
  .right {
    position: sticky;
    top: 2rem;
    height: fit-content;
  }
}

.disabled {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100%;
}
